@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
}

.head {
  position: relative;
  border: 0 20 0 20;
  height: 40px;
  width: 100%;
  background-color: #888;
}

.textarea {
  width: 100%;
  display: inline-block;
  height: calc(25 * 1.7rem);
  overflow: scroll;
  white-space: pre-wrap;
}
